body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #151b29;
}

button {
    background: none;
    color: #ffa260;
    border: 2px solid;
    padding: 1rem 2rem;
    font-size: 1rem;
    transition: all 0.2s;
}

button:hover {
    border-color: #f1ff5c;
    color: white;
    box-shadow: 0 0.5rem 0.5rem -0.4rem #f1ff5c;
    transform: translateY(-0.5rem);
    cursor: pointer;
}
