h1 {
    text-align: center;
    font-size: 6rem;
}

ul, li {
    display: inline;
    margin: 0;
    padding: 0;
}

nav {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
}

ul {
    flex-grow: 1;
    max-width: 50%;
    display: flex;
    justify-content: space-evenly;
}

@media (max-width: 768px) {
    h1 {
        font-size: 4rem;
        color: red;
    }
    nav, nav ul {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 3rem;
    }
}
